@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300&display=swap');

body{
    font-family: 'Hanken Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: (0, 0%, 100%);
    display: flex;
    

}
.leftcard{
    border-radius: 20px;
    width: 40%;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    
    text-align: center;
    padding: 10px;
}
.Result{
    color :hsl(241, 100%, 89%);
}
.score{
    padding: 30px;
    height: auto;
    width: 35%;
    border-radius: 100%;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin: 0 auto;
}
.bigscore{
    color: hsl(0, 0%, 100%);
    font-size: 60px;
}
.smallscore{
    color :hsl(241, 100%, 89%);
    
}
.great{
    color: hsl(0, 0%, 100%);
}
.paragraph{
    
    color :hsl(241, 100%, 89%);
    width:75%;
    margin: 0 auto;
}
.rightcard{
    width: 35%;
    padding: 10px 30px;
    box-shadow: 8px 0 6px rgba(0, 0, 255, 0.1);

    
}
.Reaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    box-sizing: border-box;
    margin-top: -2px;
    padding: 20px 10px;
    margin: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.Reactions{
    background-color: hsl(0, 100%, 67%, 0.1);
}
.Memory{
    background-color: hsl(39, 100%, 56%, 0.1);
}
.Verbal{
    background-color: hsl(166, 100%, 37%, 0.1);
}
.Visual{
    background-color: hsl(234, 85%, 45%, 0.1);
}

.svg {
    display: flex;
    align-items: center;
    
}
.svg svg{
    margin-right: 10px;
}
.button{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 40px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color:hsl(224, 30%, 27%);
    padding: 10px;
    color: hsl(0, 0%, 100%);
}
.button button{
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: inherit; 
    font: inherit;  
    cursor: pointer; 
    outline: none; 
}






@media (max-width: 600px) {
    
    .container {
        display: block;
        align-items: start;
    }
    .leftcard {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
        width: 100%;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        text-align: center;
    }
    .score {
        height: auto;
        width: 30%;
        border-radius: 100%;
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        margin: 0 auto;
    }
    .paragraph {
        color: hsl(241, 100%, 89%);
        width: 82%;
        margin: 0 auto;
    }
    .rightcard{
        padding: 0px 30px;
        height: 40%;
        box-sizing: border-box;
        width: 100%;
    }
    .button{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 10px auto;
        width: 80%;
        display: flex;
        justify-content: center;
        background-color:hsl(224, 30%, 27%);
        padding: 10px;
        color: hsl(0, 0%, 100%);
    }
}
